Options -Indexes
DirectoryIndex index.html
#AddType application/x-httpd-php .php .htm .html
ErrorDocument 404 /404.html
# For GoDaddy
#Options +ExecCGI
#AddHandler fcgid-script .html
#FCGIWrapper /usr/local/cpanel/cgi-sys/php5 .html

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
</IfModule>

<ifModule mod_headers.c>
	<FilesMatch ".(css|jpg|jpeg|png|gif|js|ico|svg)$">
  		Header set Cache-Control "max-age=2628000, public"
	</FilesMatch>
	<FilesMatch ".(csv)$">
		Header set Cache-Control "no-cache, no-store, must-revalidate"
		Header set Pragma "no-cache"
		Header set Expires 0
	</FilesMatch>
</IfModule>